# PostgreSQL Container / Database Setup (Docker)

POSTGRES_DB=kindergarten_db
POSTGRES_USER=app_admin
POSTGRES_PASSWORD=your_secure_postgres_password_here

# Python Application Connection Settings

DB_NAME=kindergarten_db
DB_USER=kindergarten_admin
DB_PASSWORD=your_secure_db_password_here
DB_HOST=localhost
DB_PORT=5433